In [14]:
val spark_home = sys.env("SPARK_HOME")
val spark_data = sys.env("SPARK_DATA")

val df = spark.read.format("csv")
  .option("header", "true")
  .option("inferSchema", "true")
  .load(spark_data+"/data/retail-data/by-day/2010-12-01.csv")
df.printSchema()
df.createOrReplaceTempView("dfTable")

import org.apache.spark.sql.functions.{col,expr,lit}

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: double (nullable = true)
 |-- Country: string (nullable = true)

spark_home = /home/fan/spark-2.2
spark_data = /home/fan/sparkData
df = [InvoiceNo: string, StockCode: string ... 6 more fields]

[InvoiceNo: string, StockCode: string ... 6 more fields]

In [4]:
import org.apache.spark.sql.functions.{current_date,current_timestamp}
val dateDF = spark.range(10)
    .withColumn("today",current_date())
    .withColumn("now",current_timestamp())

dateDF.createGlobalTempView("dateTable")

dateDF = [id: bigint, today: date ... 1 more field]

[id: bigint, today: date ... 1 more field]

In [5]:
dateDF.printSchema()

root
 |-- id: long (nullable = false)
 |-- today: date (nullable = false)
 |-- now: timestamp (nullable = false)

In [8]:
import org.apache.spark.sql.functions.{date_add,date_sub}
dateDF.select(date_sub(col("today"),5),date_add(col("today"),5)).show(1)

+------------------+------------------+
|date_sub(today, 5)|date_add(today, 5)|
+------------------+------------------+
|        2019-09-12|        2019-09-22|
+------------------+------------------+
only showing top 1 row

In [17]:
import org.apache.spark.sql.functions.{datediff,months_between,to_date}

dateDF.withColumn("week_ago",date_sub(col("today"),7))
.select(datediff(col("week_ago"),col("today"))).show(1)

dateDF.select(
    to_date(lit("2016-01-01")).alias("start"),
    to_date(lit("2017-05-22")).alias("end"))
    .select(months_between(col("start"),col("end"))).show(1)

+-------------------------+
|datediff(week_ago, today)|
+-------------------------+
|                       -7|
+-------------------------+
only showing top 1 row

+--------------------------+
|months_between(start, end)|
+--------------------------+
|              -16.67741935|
+--------------------------+
only showing top 1 row

In [20]:
spark.range(5).withColumn("date",lit("2017-01-01"))
.select(to_date(col("date"))).count()

5

In [19]:
dateDF.select(to_date(lit("2016-20-12")),to_date(lit("2017-12-11"))).show(1)

+-------------------+-------------------+
|to_date(2016-20-12)|to_date(2017-12-11)|
+-------------------+-------------------+
|               null|         2017-12-11|
+-------------------+-------------------+
only showing top 1 row