root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: double (nullable = true)
 |-- Country: string (nullable = true)

spark_home = /Users/fanzhenxin/bigData/spark-2.4.4-bin-hadoop2.7
spark_data = /Users/fanzhenxin/bigData/spark-2.4.4-bin-hadoop2.7
df = [InvoiceNo: string, StockCode: string ... 6 more fields]

[InvoiceNo: string, StockCode: string ... 6 more fields]

In [2]:
import org.apache.spark.sql.functions.{current_date,current_timestamp}
val dateDF = spark.range(10)
    .withColumn("today",current_date())
    .withColumn("now",current_timestamp())

dateDF.createGlobalTempView("dateTable")

dateDF = [id: bigint, today: date ... 1 more field]

[id: bigint, today: date ... 1 more field]

In [3]:
dateDF.printSchema()

root
 |-- id: long (nullable = false)
 |-- today: date (nullable = false)
 |-- now: timestamp (nullable = false)

In [4]:
import org.apache.spark.sql.functions.{date_add,date_sub}
dateDF.select(date_sub(col("today"),5),date_add(col("today"),5)).show(1)

+------------------+------------------+
|date_sub(today, 5)|date_add(today, 5)|
+------------------+------------------+
|        2019-09-14|        2019-09-24|
+------------------+------------------+
only showing top 1 row

In [5]:
import org.apache.spark.sql.functions.{datediff,months_between,to_date}

dateDF.withColumn("week_ago",date_sub(col("today"),7))
.select(datediff(col("week_ago"),col("today"))).show(1)

dateDF.select(
    to_date(lit("2016-01-01")).alias("start"),
    to_date(lit("2017-05-22")).alias("end"))
    .select(months_between(col("start"),col("end"))).show(1)

+-------------------------+
|datediff(week_ago, today)|
+-------------------------+
|                       -7|
+-------------------------+
only showing top 1 row

+--------------------------------+
|months_between(start, end, true)|
+--------------------------------+
|                    -16.67741935|
+--------------------------------+
only showing top 1 row

In [6]:
spark.range(5).withColumn("date",lit("2017-01-01"))
.select(to_date(col("date"))).count()

5

In [7]:
dateDF.select(to_date(lit("2016-20-12")),to_date(lit("2017-12-11"))).show(1)

+---------------------+---------------------+
|to_date('2016-20-12')|to_date('2017-12-11')|
+---------------------+---------------------+
|                 null|           2017-12-11|
+---------------------+---------------------+
only showing top 1 row

In [8]:
import org.apache.spark.sql.functions.to_date

val dateFormat = "yyyy-dd-MM"
val cleanDateDF = spark.range(1).select(
    to_date(lit("2017-12-11"),dateFormat).alias("date"),
    to_date(lit("2017-20-12"),dateFormat).alias("date2")
)

cleanDateDF.createOrReplaceTempView("dateTable2")

dateFormat = yyyy-dd-MM
cleanDateDF = [date: date, date2: date]

[date: date, date2: date]

In [10]:
import org.apache.spark.sql.functions.to_timestamp

cleanDateDF.show()

+----------+----------+
|      date|     date2|
+----------+----------+
|2017-11-12|2017-12-20|
+----------+----------+